*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100%;
    background-image:url(./images/corona-5002341__340.webp);
    background-color:;
    background-position: left;
    background-size:cover ;
    height: 100vh;
    
}

.navbar {
    background-color: #52734D;
}

p.navbar-brand {
    font-size: 35px;
    color: white;
    font-family: 'brush script mt';
    justify-items:;
    margin-left:20px;
    margin: auto;
    text-shadow: ;
}

.container{
    margin-top: 10px;
    width: 600px;
    background-color:#ffffff;
    margin: ;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 3%;
    background-color: #91C788;
    background-image: url(../);
}

/* style search html */
.cardly ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-title {
    font-family: 'Montserrat', sans-serif;
    color: #432C81;
    font-weight: bold;
}
.card-text {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: #432C81;
    font-weight: 500;
}
.card-img-top {
    height: 270px;
}
.card {
    justify-content: space-evenly;
    margin: auto;
    margin-right: 50px;
    margin-top:20px;
}
.container-fluid img {
    width: 100px;
    height:50px
}

.gallery li {
    width: 255px;
    height: 255px;
    border-radius: %;
    float: ;
    position: relative;
    margin-right: 0px;
    margin-bottom: 0px;
    border:;
    overflow: hidden;
    margin: auto;
}

.gallery li span {
    display: block;
    background-color: rgba(200,200,200,.5);
    width: 255px;
    height: 255px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    float: center;
    line-height: 170px;
    color: #333;
    text-shadow: 1px 1px 1px #ffffff;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

.gallery li img {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

a.tbl-biru {
    background: #000000;
    border-radius: 20px;
    margin-top: px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #b9b8b9;
    text-decoration: none;
}

.dropdown {
    margin-right: 60px;
}

a.dropdown-item img{
    width: 20px;
    height: 20px
}

/* style deskripsi */
.deskripsi {
    font-family:'Montserrat', sans-serif;
    color: #432C81;
    margin-right: 30px;
}
.deskripsi h6 {
    text-align: justify;
    line-height: 30px;
    margin-top: 15px;
}
.deskripsi h5 {
    font-weight: bold;
    margin-top: 30px;
}
.deskripsi p {
    line-height: 25px;
}

#play {
    width: 64px;
    height:64px;
    float: right;
    border-radius: 50%;
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
}

/* style menutab html */
.logo img {
    margin-left: 110px;
}
.btn-outline-light {
    margin-right: 110px;
}
.judesk {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
}

.judesk img{
    width:200px;
}

.button-tab {
    justify-content: center;
    align-content: space-between;
    display: flex;
}
.btn-outline-success {
    width: 500px;
    margin-right: 50px;
    margin-left: 50px;
}

@media screen and (max-width:500px) {
/* style menutab html */
.logo img{
    margin-left: 10px;
}
.btn-outline-light {
    margin-right: 10px;
}
.btn-outline-light {
    margin-right: 0px;
}
.judesk {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.judesk img{
    width: 150px;
}
.button-tab  {
    display: block;
    margin-right: 0px;
    text-align: center;
}
.btn-outline-success {
    width: auto;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
    cursor:zoom-out;
}
}